/*==============================
=   EcoCafé - CSS
=   File: layout-base.css
==============================*/

/*======================================
=   CSS VARIABLES (Custom Properties)
======================================*/

:root {
    --color-primary: #faf6f1;
    --color-secondary: #382618;
    --color-tertiary: #6b4c35;
    --color-quaternary: #406e00;
    --color-quinary: #100d0a;
    --color-senary: #fbfceb;
    --color-septenary: #c5c4c0;
    --color-octonary: #fafafa;
    --color-nonary: #d4edda;
    --color-denary: #721c24;
    --color-undenary: #f8d7da;
    --font-main: 'Poppins', sans-serif;
    --font-secondary: 'Quicksand', sans-serif;
}



/*======================================
=   RESET STYLES
======================================*/

html {
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



/*======================================
=   BODY AND BASE STYLES
======================================*/

body {
    display: flex;
    flex-direction: column;
    line-height: 1.6;
    overflow-x: hidden;
    word-wrap: break-word;
    text-rendering: optimizeLegibility;
    background-color: var(--color-primary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* Font family and color for base elements */
body, nav, footer, p, a, button, legend, small, span, strong, textarea, input, select, label {
    font-family: var(--font-secondary);
    color: var(--color-secondary);
    font-weight: 600;
}


/* Headings and logo text styles */
h1, h2, h3,
#logo-text,
#footer-logo-text {
    font-family: var(--font-main);
    font-weight: 900;
    color: var(--color-secondary);
}

section h1,
article h1,
aside h1,
nav h1 {
    font-size: 2.4rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}


/*---------- Animations ----------*/

/*--- Animation from left to right ---*/
.fade__left {
    opacity: 0;
}

.fade__left.visible {
    animation: slideFromLeft .7s ease-out forwards;
}

@keyframes slideFromLeft {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


/*--- Animation from right to left ---*/
.fade__right {
    opacity: 0;
}

.fade__right.visible {
    animation: slideFromRight .7s ease-out forwards;
}

@keyframes slideFromRight {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


/*--- Animation from bottom to top ---*/
.fade__bottom {
    opacity: 0;
}

.fade__bottom.visible {
    animation: slideFromBottom .7s ease-out forwards;
}

@keyframes slideFromBottom {
    from {
        opacity: 0;
        transform: translateY(60px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

